

body{
	margin: 0px;


}

#body-header{
	height: 65vh;
	/*background-image: url(portfolio/macbook_mouse.jpg)*/
	background-image:url("C:/Users/Prakhar/Desktop/macbook_mouse.jpg");
	opacity: 0.8;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

}

.horizontal-list {

	list-style: none;
	padding: 0px;
	margin-top: 0px;
	text-align: center;
	

}

.horizontal-list li{
	display: inline-block;
	margin: 0px 18px 18px 0px;


}

.horizontal-list li a{
	color: white;
	text-decoration: none;
}

.horizontal-list li a:hover{
	color: darkred;
	border-bottom: 1px solid white ;
	margin: 10px;
}

h1{
	margin-top: 70px;
	margin-bottom: 0px;
	font-size: 50px;
	color: white;
	text-align: center;
}
.navigation{
	list-style: none;
	text-align: center;

}
.social-icon li img{
	margin-top: -10px;
	width: 1.2rem;
	padding: 10px;


}

#bio{
	height: auto;
	width: 100%;
	position: relative;
	color: grey;
}

#my-image{
	height: 12rem;
	width: 12rem;
	margin: auto;
	margin-top: -17vh;
}

#my-image img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border-color: grey;

}
#para{
	/*text-align:justify;
	margin: 0px 18px 0px 18px;*/
	 padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}
section{
	width:100%;
	display:flex;
	flex-direction: column;
	align-items: center;
}

section:nth-child(2n){
	background-color: lightgrey;
}
section:nth-child(2n + 1){
	background-color: white;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}


/*Skills Section*/

.skills-display {
    width: 75%;
    float:left;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}
.skills-progress {
    width: 100%;
    height: 100%;
    float:left;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
/*    margin-left: 5px;*/
}
.skills-progress >div {
	
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 3rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
   
}

.skill-parent{
	height: 20px;
	width: 150px;
	background-color: white;
	border-radius: 5px;
	display:flex;
	justify-content:flex-start  ;
}
.skill-parent>div{
	height: 100%;
/*	width: 85%;*/
/*	background-color: #2857a4;*/
	
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

.skill-name span {
    color: white;
    font-size: 1rem;
    margin-left: 5px;
   
   
}
.skill-names span {
    color: white;
    font-size: 0.8rem;
    margin-left: 5px;
   
   
}
.skill-namej span {
    color: white;
    font-size: 0.7rem;
    margin-left: 5px;
   
   
}
.skill-namel span {
    color: white;
    font-size: 0.8rem;
    margin-left: 5px;
   
   
}
.skill-nameb span {
    color: white;
    font-size: 0.5rem;
    margin-left: 5px;
   
   
}


}
.skills-web{
	height: 20px;
	width: 200px;
	background-color: white;
	border-radius: 10px 0px 0px 10px;
	display:flex;
	justify-content:flex-start  ;

}
.skills-web>div{
	height: 100%;
	width:8 rem;
/*	width: 85%;*/
/*	background-color: #2857a4;*/
	
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}
.skills-ps{
	height: 20px;
	width: 200px;
	background-color: white;
	border-radius: 10px 0px 0px 10px;
	display:flex;
	justify-content:flex-start  ;

}
.skills-ps>div{
	height: 100%;
	width:8 rem;
/*	width: 85%;*/
/*	background-color: #2857a4;*/
	
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}
.skills-cm{
	height: 20px;
	width: 200px;
	background-color: white;
	border-radius: 10px 0px 0px 10px;
	display:flex;
	justify-content:flex-start  ;

}
.skills-cm>div{
	height: 100%;
	width:8 rem;
/*	width: 85%;*/
/*	background-color: #2857a4;*/
	
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}
.skills-mysql{
	height: 20px;
	width: 200px;
	background-color: white;
	border-radius: 10px 0px 0px 10px;
	display:flex;
	justify-content:flex-start  ;

}
.skills-mysql>div{
	height: 100%;
	width:8 rem;
/*	width: 85%;*/
/*	background-color: #2857a4;*/
	
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}
.skills-an{
	height: 20px;
	width: 200px;
	background-color: white;
	border-radius: 10px 0px 0px 10px;
	display:flex;
	justify-content:flex-start  ;

}
.skills-an>div{
	height: 100%;
	width:8 rem;
/*	width: 85%;*/
/*	background-color: #2857a4;*/
	
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}
.skills-TP{
	height: 20px;
	width: 200px;
	background-color: white;
	border-radius: 10px 0px 0px 10px;
	display:flex;
	justify-content:flex-start  ;

}
.skills-TP>div{
	height: 100%;
	width:8 rem;
/*	width: 85%;*/
/*	background-color: #2857a4;*/
	
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}
.skills-cp{
	height: 20px;
	width: 200px;
	background-color: white;
	border-radius: 10px 0px 0px 10px;
	display:flex;
	justify-content:flex-start  ;

}
.skills-cp>div{
	height: 100%;
	width:8 rem;
/*	width: 85%;*/
/*	background-color: #2857a4;*/
	
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}
.skills-os{
	height: 20px;
	width: 200px;
	background-color: white;
	border-radius: 10px 0px 0px 10px;
	display:flex;
	justify-content:flex-start  ;

}
.skills-os>div{
	height: 100%;
	width:8 rem;
/*	width: 85%;*/
/*	background-color: #2857a4;*/
	
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

/* Portfolio Section */

#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}



/* Common Margin Classes */

.mb75px {
    margin-bottom: 75px;
}



/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}





/* setting background-color */

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}

.mb-light-yellow{
	background-color: lightpink;
}

.mb-skyblue{
	background-color: lightskyblue;
}
.mb-cyan{
	background-color: cyan;
}


/*Percentage Classes */

.eighty-five-percent {
/*    height: inherit;*/
    width: 85%;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.fifty-percent {
    height: inherit;
    width: 65%;
}



#contact{
/*/*	background-image: linear-gradient( top right,blue 40% ,white 60%);*/
/*	background-color: ;*/
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: ghostwhite;
    padding-bottom: 40px;
	/*width:auto;
	height:500px;*/
}
#newww{
	color: white;
}
#kkkk{
	color: white;
}

#contact-form{
	margin-left: 20%;

}
#asidem{
	margin-left: 6%;
	width: 35%;

}
#contact-container{
	display:flex;
}

#contact-form input,textarea{
	max-width: 90%;
	margin: 50px;
	padding: 4px 10px;
	border: 0px solid transparent;
	border-bottom: 2px solid white;
	color: #d9dcdd;
	background: transparent;
	width: 90%;
	line-height: 1.6;
	font-size: 1.05 rem;

}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

input:focus,textarea:focus,button:focus{
	outline: none;
}

#bottom-div{
	margin-top: 45px;
}
#contact .social-icons li a i{
	font-size: 1.2 rem;
	margin: 40px 10px 10px;
	padding: 10px 14px 20px 10px;


}

.gh{
	padding: 40px;
}

/* Work Experience */

.timeline {
    position: relative;
    width: 75%;
}

.timeline-box {
    padding: 5px;
    width: 40%;
    min-height: 150px;
    position: relative;
    left: 5%;
    text-align: right;
}

.timeline-box::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightgrey;
    top: 25%;
    border-radius: 50%;
    z-index: 1;
}

.timeline-box:nth-child(2n) {
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after {
    right: -11.8%;
}

.timeline-box:nth-child(2n)::after {
    left: -9%;
}

.timeline-container {
    padding: 8px;
}

.timeline-logo {
    position: absolute;
    width: 50px;
    overflow: hidden;
}

.timeline-logo > img {
    width: 100%;
}

#timeline-divider {
    position: absolute;
    width: 0;
    top: 10%;
    left: 50%;
    border: 1px dashed #0096fa6b;
    height: 66%;
    color: #433E3F;
}

#timeline-divider .timeline-traveller {
    position: sticky;
    top: 135px;
    z-index: 2;
}

#timeline-divider i {
    transform: rotate(90deg);
    margin-top: -35px;
    display: block;
    color: #2857a4;
}

.experience-designation {
    font-size: 1.4rem;
}

.experience-company-name {
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
}

.experience-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}

.experience-description {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}
